.game-window {
    position:relative;
    height:690px;
    width: 450px;
    margin-left:20px;
    margin-top:20px;
    background-color:white;
    float:left;
}
.score-board {
    height:700px;
    width:200px;
    margin-right:10px;
    margin-top:10px;
    float:right;
}
.game-container {
    height:740px;
    width:640px;
    background-color:#4CFFF0;
    border-radius:10px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
.block {
    height:30px;
    width:30px;
}
.square {
    position:absolute;
    left:180px;
    top:-30px;
}
.square > * {
    position:absolute;
    background-color:yellow;
}
.line {
    position:absolute;
}
.line > * {
    position:absolute;
    background-color:#14CC88;
}
.zig {
    position:absolute;
    left:180px;
    top:-30px;
}
.zig > * {
    position:absolute;
    background-color:#CC9614;
}
.zag {
    position:absolute;
    left:180px;
    top:-30px;
}
.zag > * {
    position:absolute;
    background-color:#997E3D;
}
.tee {
    position:absolute;
}
.tee > * {
    position:absolute;
    background-color:#FF7800;
}
.leftL {
    position: absolute;
}
.leftL > * {
    position: absolute;
    background-color: green;
}
.rightL {
    position:absolute;
}
.rightL > * {
    position:absolute;
    background-color:blue;
}
